[2015-09-13 22:26] taijizhu opened #1 "add to cocoapod?"
please.  thanks, it will make us pick up your changes much easier.

[2015-09-19 13:08] ronjumola opened #2 "Demo not working"

[2015-09-19 23:07] ronjumola commented on #2
It will run if the XCode is updated to version 7

[2015-09-19 23:07] #2 closed, assigned to nobody

[2015-11-28 15:15] oferRounds opened #3 "Question: is there any way to use your library to get list of cities and countries"
i.e., without asking for user's location permission and without presenting the user's location on map.
Just let him type city/country with autocomplete suggestions.

Thanks for sharing this library!

[2015-11-30 05:32] almassapargali commented on #3
Nope, sorry. It shows map always. You should take a look at `MKLocalSearchRequest`.

[2015-11-30 05:32] #3 closed, assigned to nobody

[2015-11-30 20:40] oferRounds commented on #3
Cool, thanks for your answer!

[2016-01-17 01:51] bharatkrishna opened #5 "Undefined behavior error for UISearchController"
In my project I have a Table View Controller embedded in a Navigation Controller. I am launching the LocationPickerViewController via a button in the navigation bar.
Sometimes when I don't select any location and go back to the previous screen and again come to the Location Picker scene the following error is printed to the console:

Searching the web, I found [this](http://stackoverflow.com/a/335

[2016-01-17 06:17] bharatkrishna opened #6 "APIs deprecated for iOS 9"
xCode throws method deprecation warnings when Deployment Target is set to 9.2

[2016-01-25 03:28] almassapargali commented on #1
Closed by #4.

[2016-01-25 03:28] #1 closed, assigned to nobody

[2016-01-25 03:41] almassapargali commented on #5
Thanks for reporting, closed by 13c8a7a6e91adc20d89786757082b01ceb202cb1.

[2016-01-25 03:41] #5 closed, assigned to nobody

[2016-01-25 03:42] almassapargali commented on #6
I'm planning to support iOS 8 at least until iOS 10 rolls out, so will keep these as is for now.

[2016-01-25 03:42] #6 closed, assigned to nobody

[2016-01-26 00:37] bharv410 opened #7 "Can't install pod"
After doing pod install I am greeted with this error

Analyzing dependencies
[!] Unable to find a specification for `LocationPicker`

[2016-02-01 13:28] uknowmeright commented on #7
+1 I got this issue as well.

[2016-02-04 22:27] bharatkrishna commented on #7
The pod might not be added to cocoapods trunk. This needs to be fixed.

As a workaround, include the git path in your Podfile :

[2016-02-05 05:29] almassapargali commented on #7
Sorry guys, I'll take a look at this today later if I make any time.

Sent from my iPhone

[2016-02-06 18:02] almassapargali commented on #7
Hey guys, sorry for taking so long. Pod is now on trunk. Also, I updated pod version, so it includes fixes implemented by @bharatkrishna. Thanks all :+1:

[2016-02-06 18:02] #7 closed, assigned to nobody

[2016-02-23 06:53] hyunsbuns opened #8 "search bar style from minimal to default?"
I can change it in the locationpicker file but I don't have write access, and I can't access the searchbar style. Any suggestions?

[2016-02-25 05:06] almassapargali commented on #8
Hello, sorry for late response. As of version 0.5.4, there is public `searchBarStyle` property.

[2016-02-25 05:06] #8 closed, assigned to nobody

[2016-03-01 15:53] teemu-rossi opened #9 "Not possible to localize "Select" button"
The button title for the "select location button" created in `LocationPickerViewController.selectLocationButton()` uses a hardcoded string. It would make sense to have this text customisable from outside to enable localisation and also using an app specific verb.

[2016-03-04 10:32] #9 closed, assigned to nobody

[2016-03-04 10:33] almassapargali commented on #9
Sorry for delay, `selectButtonTitle` property has been added.

[2016-03-04 12:15] teemu-rossi commented on #9
Thanks for the quick fix!

[2016-03-08 08:10] TripwireNL opened #10 "Annotationview text scaling"
Hi,

I'm trying to localize the text used in the AnnotationView. I saw you updated the view a few days ago and now we can set the selectButtonTitle of the AnnotationView. Is there a way to make the AnnotationView larger when the selectButtonTitle text is larger than normal? For instance Select is in Dutch Selecteer which doesn't fit right now in the AnnotationView.

Thx!

[2016-03-15 04:15] #10 closed, assigned to nobody

[2016-03-15 04:16] almassapargali commented on #10
Hello, sorry for really late response, I've changed it to grow dynamically to fit label.

[2016-03-15 11:56] TripwireNL commented on #10
Hi, Thanks for the fixing :) Can you make a new Cocoapods release? I tried updating but it's still version 0.55 on Cocoapods! Thanks again for the fix!

[2016-03-15 12:08] almassapargali commented on #10
Check it now, I've updated!

[2016-03-15 12:33] TripwireNL commented on #10
Great it's working perfectly!

[2016-04-21 04:36] jianjye opened #13 "Select "Current Location""
Hi @almassapargali , thanks for the great plugin!

I am wondering if it is possible to add the "Select" button for "Current Location" annotation? Currently when tapping on the blue circle of current location, it shows the annotation but not the Select button.

Any way I can enable it or add it in?

Thanks!

[2016-04-21 05:16] almassapargali commented on #13
It's standard iOS pin. I'll check if I can help you when I get to my Mac.

Sent from my iPhone

[2016-04-21 08:26] jianjye commented on #13
@almassapargali Thanks for the quick reply. Hopefully it's doable.

[2016-04-21 10:50] almassapargali commented on #13
Hello, it looks like if you can replicate standard iOS current location pin [here](https://github.com/almassapargali/LocationPicker/blob/master/LocationPicker/LocationPickerViewController.swift#L338), you could return it instead of `nil` when `annotation is MKUserLocation` with added `rightCalloutAccessoryView`.

I'm not sure if this feature is needed by many users, and don't want to complicate un

[2016-04-21 12:39] jianjye commented on #13
@almassapargali Right now, the current location blue circle does not respond to long press to enable selection like the rest of the map. So if I want to enable selecting "current location" as my desired output, I would need to perform my own detection and setting locationPicker.location before going into locationPicker.

It would certainly be great if you would consider this use case.

Thanks!

[2016-04-24 03:27] josephbao opened #14 "maptype doesn't change when set"
Setting the map type doesn't change the actual map.

[2016-04-24 03:29] josephbao commented on #14
This was caused by having the maps permission off in my Capabilities

[2016-04-24 03:35] josephbao commented on #14
Even turning on my app permissions still does not allow the correct maptype to display.

[2016-04-24 03:39] #14 closed, assigned to nobody

[2016-04-24 09:15] #13 closed, assigned to nobody

[2016-04-25 13:20] jcampbell05 opened #15 "Publish as LocationPicker"
It would be helpful if you published the spec as the same name as the package manager.

[2016-04-28 11:20] almassapargali commented on #15
I'm sorry, could be please give more details? Which spec to which package manager?

[2016-04-28 11:23] jcampbell05 commented on #15
Just to have the podspec name to be LocationPicker rather than LocationPickerViewController

[2016-04-28 11:29] almassapargali commented on #15
Isn't pod spec name LocationPicker already?

[2016-04-28 13:13] jcampbell05 commented on #15
No it appears to be "LocationPickerViewController"

[2016-04-28 13:14] almassapargali commented on #15
Please check again, that should be another library. How are you checking, btw?

Sent from my iPhone

[2016-04-28 13:42] jcampbell05 commented on #15
I looked into the Cocoapod Repo as I used Location Picker and the code in your examples wasn't compiling. It seems like in the master repo the later versions are called LocationPickerViewController

[2016-05-18 10:38] antons81 opened #17 "Close button"
Hi If I open this control as Presented there is no button to close window. How I could add one?

[2016-05-18 10:47] antons81 commented on #17
Ok, found it by creating own viewcontroller and subclassed it as your controller than added to your code custom method for button action

[2016-06-27 19:39] antons81 opened #18 "Memory issue"
When closing controller it's not release from memory

[2016-07-19 08:33] almassapargali commented on #18
I just checked this, and it was deinitialising. Please make sure you're not capturing `LocationPickerViewController` inside `completion` block.

[2016-07-19 08:33] #18 closed, assigned to nobody

[2016-08-15 11:37] Moeez007 opened #19 "Pod not installing"
Hello, I am trying to integrate the pod file in my app and it is taking forever.
Please take a look at my pod file.

use_frameworks!
target 'UberDemo6' do
pod 'UberRides'
pod 'LocationPicker'
end

[2016-08-19 10:59] almassapargali commented on #19
I just created project, and installed your Podfile successfully.

[2016-08-19 10:59] #19 closed, assigned to nobody

[2016-08-19 11:00] #15 closed, assigned to nobody

[2016-08-19 11:00] #17 closed, assigned to nobody

[2016-08-22 16:23] arno608rw opened #20 "I want feature change drop pin on map"
I want feature change drop pin on map

[2016-08-30 14:05] vladvelici opened #21 "Ask for permissions if needed"
This picker is idea for apps that don't use location and maps too much, therefore dealing with location permissions would be ideal. At least for my use case.

I could implement it and send a pull request in the following few days if this sounds like something important.

This can be a configurable feature, like `locationPicker.askForPermission`, and can take three values `.No`, `.WhenInUse`, `.Alw

[2016-09-01 05:53] almassapargali commented on #21
Sounds interesting, but the thing is, user's location actually isn't needed to pick location. The only case when it's needed, is when we show user's location initially.

[2016-09-01 05:56] almassapargali commented on #21
Btw, if you think that this would be helpful, and that resulting code would be small enough, then go ahead, and implement it. Please make sure that we ask for permission only if we need it (like when `showCurrentLocationInitially` or `showCurrentLocationButton` is true). I'll review and merge.

[2016-09-20 17:38] AlexZd opened #22 "Swift 3 ?"
Any plan to update library to Swift 3 ?

[2016-09-20 17:43] almassapargali commented on #22
Hello, yes. I'll try to find time tomorrow morning (12 hours from now).

[2016-09-21 10:02] almassapargali commented on #22
Released just now!

[2016-09-21 10:02] #22 closed, assigned to nobody

[2016-09-27 11:30] djbe opened #23 "Publish 1.0.0 to cocoapods"
Note that your git tag should also point to a later commit where the podspec also has the correct 1.0.0 version.

[2016-09-27 17:33] almassapargali commented on #23
Done, had to release 1.0.1 for tag matching. Thanks for tip 👍

[2016-09-27 17:33] #23 closed, assigned to nobody

[2016-09-29 08:15] Moeez007 opened #24 "xcode 8.0 swift convert error"
hello guys, recently I opened a project in xcode 8.0 and the swift conversion error came, i selected the swift 3.0 and then this error came, please see the attached image for errors, xcode 7.3.1 produces he same error.

![screen shot 2016-09-29 at 1 11 00 pm](https://cloud.githubusercontent.com/assets/2129153/18946068/bb982748-8646-11e6-934b-adddf446b79a.png)

[2016-10-01 09:46] AlexZd opened #25 "open LocationPickerViewController"
Now it is `public`, in this case I can't inherit it, better to use `open`

[2016-10-01 10:55] almassapargali commented on #25
It's made 'public' intentionally, it's not meant to be subclasses. What are you trying to achieve by subclassing?

[2016-10-01 14:09] AlexZd commented on #25
Need to make some additional setting in `viewDidLoad` and `viewWillAppear`

[2016-10-25 10:37] Parkyprg opened #26 "Select current location"
Hi,

Nice work with this picker.
However, I use it in Obj-C project and I want the user to be able to select the current location.
If I press on the standard locate button, the location is not selectable.

How can I do it in your code, using swift? The pin should be added on the current user location.

Thanks.

[2016-11-07 05:43] Parkyprg commented on #26
Awesome support. 2 weeks without a single response. Thank you!

[2016-11-30 09:46] alleyrat opened #27 "Missing argument for parameter 'placemark' in call"
The sample posted no longer compiles with xCode 8.1 and Swift 3.

The problem lies on the line:
let initialLocation = Location(name: "my home", location: location)

"Missing argument for parameter 'placemark' in call". The compiler wants:
let initialLocation = Location(name: "my home", location: location, placemark: placemark)

I've been trying to understand how to init CLPlacemark from CLLocation

[2016-11-30 13:38] almassapargali commented on #27
Hello, sorry, away from Mac now. Could you please try with MKPlacemark, passing [:] as address dictionary?

[2017-01-03 14:04] TripwireNL commented on #25
I'd like to have it open as well since I use your controller in Eureka forms to make a custom LocationPicker row

[2017-01-04 04:47] #25 closed, assigned to nobody

[2017-01-04 05:03] almassapargali commented on #25
Ok guys, it's open now, please use version `1.0.2`.

[2017-01-04 05:03] #27 closed, assigned to nobody

[2017-01-04 05:03] #24 closed, assigned to nobody

[2017-01-04 05:04] #21 closed, assigned to nobody

[2017-01-04 05:04] #20 closed, assigned to nobody

[2017-01-09 23:19] PaulRBerg commented on #26
+1

[2017-01-10 07:32] PaulRBerg commented on #26
@Parkyprg
UPDATE

I've solved the bug. I assume you've tested on your simulator, just like me. I've put the following function in the project:

[code]

And apparently I was receiving a **KCLErrorDomain error 0**.
Check out a solution for you [here](http://stackoverflow.com/questions/1409141/location-manager-error-kclerrordomain-error-0).

In my case, I just had to select "None" Then "Current Locat

[2017-01-10 08:16] almassapargali commented on #26
Hello @Parkyprg, @razvan-paul sorry guys, yes I know that picking user's current location would be a great feature to add, and very useful, but unfortunately I don't have much available time currently, so feel free to send any PRs, would happily review and merge them.

[2017-01-12 14:33] guillotemanija opened #28 "Localization question"
Hi there, very nice tool.

Is it possible to localize all aspects of this location picker? This would include not only the searchBarPlaceholder and the searchHistoryLabel, but also the Back button, the Cancel button, the Select button and the language of the addresses?

Thank you

[2017-01-13 14:33] almassapargali commented on #28
Hello, `Select` button is public variable, as for back, system button/localization gets used there. And language of addresses is based on where address is located AFAIK. You can look [here](https://developer.apple.com/reference/mapkit/mklocalsearch) for information on location search.

[2017-01-16 22:17] yurevich1 opened #29 "inheritance issue"
Please, change `public` type of the class into `open` class.
I would mix this library with the other but I have to change this restriction properties manually.
For cocoapods this is not a good solution.

[2017-01-17 06:06] almassapargali commented on #29
It's already is.

[2017-01-17 06:06] #29 closed, assigned to nobody

[2017-01-17 16:45] caieylau opened #30 "Tapping on searchbar does not allow text edit"
Hi. Would you kindly help with my problem. I tapped on the searchBar but it did not allow me to edit. Nothing happens when I tapped on it.

[2017-01-18 04:50] ghost opened #31 "How can i make the searchBar become firstRespond on view will appear"
How can i make the searchBar become firstRespond on view will appear and how to i pass the location to the previous view controller that triggered the location picker

[2017-01-18 15:14] almassapargali commented on #31
Please subclass it and try navigationItem.titleView as? UISearchBar in viewDidAppear.

Sent from my iPhone

[2017-02-06 08:52] sleith opened #33 "tap to change pin location"
Hi sir,
would it possible to add option so that on tap to change the current location?
currently long tap will do it, but most of user might don't know this.
Because this is location picker, so this option would be very helpful i think.
(i test android lib https://github.com/SchibstedSpain/Leku, which does this)

thanks :)

[2017-03-08 16:57] NinoScript opened #34 "Alert displays when selecting two locations in rapid succession"
Long tap somewhere, and while the pin is dropping (or at least before the info shows up) , long tap somewhere else.

Expected: First pin is dismissed.
What actually happens: First pin is dismissed, but an alert shows up with the following message: `The operation couldn't be completed. (kCLErrorDomain error 10.)`.

Here's a screenshot of that alert:
![screen shot 2017-03-08 at 12 04 32 pm](https://

[2017-03-31 03:07] jboss42 opened #35 "Can't import LocationPicker module"
I installed LocationPicker module using pod.
But can't import module. (Xcode 8.3, Swift 3.0)

[2017-04-12 10:46] #26 closed, assigned to nobody

[2017-04-12 10:47] almassapargali commented on #26
Made long press gesture work on current location blue dot too. Sorry for delay!

[2017-04-12 10:48] almassapargali commented on #13
Made long press gesture work on current location blue dot too. Sorry for delay!

[2017-04-12 10:56] #34 closed, assigned to nobody

[2017-04-12 10:57] #31 closed, assigned to nobody

[2017-04-12 10:59] almassapargali commented on #33
Hello, I've followed pattern used in Apple Maps and Google Maps.

[2017-04-12 10:59] #33 closed, assigned to nobody

[2017-04-12 10:59] almassapargali commented on #30
Hello, I couldn't reproduce this error, fell free to open again if it repeats.

[2017-04-12 10:59] #30 closed, assigned to nobody

[2017-04-12 11:00] #28 closed, assigned to nobody

[2017-04-17 12:22] almatri opened #36 "select the current location initialy"
How can I select the current location when initialy after opening the map, because currently it only shows the current location and the user may think it is already selected or even when the user tap the current location circle it does nothing and the user still has to tap long to select the locatoin

[2017-05-10 20:22] seifeet commented on #36
Seems like it is already implemented and works fine on a physical device.

        // button placed on right bottom corner
        locationPicker.showCurrentLocationButton = true // default: true

        // ignored if initial location is given, shows that location instead
        locationPicker.showCurrentLocationInitially = true // default: true

[2017-05-11 03:57] almassapargali commented on #36
Oh, I somehow missed this issue, and just see it after email for @seifeet's comment. Yes, currently it just shows current location, and doesn't selects it. Please see #32 for behavior you want, and comments.

[2017-09-22 14:35] karuppasamypandian0856 commented on #35
hi cant import as module, so i have added that project then can run in simulator but cant run in device.cant launch the app.
Worked on xcode 8.3 and swift 3

![screen shot 2017-09-22 at 7 53 13 pm](https://user-images.githubusercontent.com/19841870/30749389-dd95fe70-9fd0-11e7-8cc7-e65fff127982.png)

Any one face this problem?

[2017-09-27 05:23] karuppasamypandian0856 commented on #35
Finally the error was the PRODUCT_BUNDLE_IDENTIFIER field in the info.plist of each pod. Changing it to "org.cocoapods.${PRODUCT_NAME:rfc1034identifier}" solved the problem (previously was "$(PRODUCT_BUNDLE_IDENTIFIER)").

[2017-10-25 14:04] karuppasamypandian0856 opened #37 "The following binaries use incompatible versions of Swift:in Xcode9"
Its not support in xcode 9?

[2017-10-25 18:25] NikKovIos commented on #37
Fix some issues with swift 4 and Xcode 9 please.

[2017-10-26 01:41] karuppasamypandian0856 commented on #37
Thank you for answering this.
All issues and warnings are converted to swift4.But still issue there
Note : We are manually integrated this framework.

[2017-10-26 05:30] NikKovIos commented on #37
Also there is a bug with the navigation bar when pushing this controller after popping it back

[2017-11-10 23:55] jackpaster commented on #37
@almassapargali Can you fix this issue on the iPhone x. There is an issue when going back and id like to get that fixed. when going back in a navigation controller. the location search bar stalls. @NikKovIos @karuppasamypandian0856 Have any of you created a fix to this problem.

[2017-11-11 00:08] NikKovIos commented on #37
No, i used another pod

[2017-11-11 02:00] jackpaster commented on #37
@NikKovIos can you share what pod you used. it would be helpful as this pod isn't being updated

[2017-11-11 05:56] almassapargali commented on #37
Hello, guys, sorry for being unresponsive, quite a busy nowadays. I've spent couple of hours trying to fix that thing today, but no avail. Tried to wrap UISearchBar in UIView so it disappears correctly, though couldn't work out layouts. Will take an another look when I get more time. Feel free to PR if anyone has any success fixing that.

[2017-11-11 21:32] jackpaster commented on #37
@almassapargali Have you come up with a solution. I'm looking to update my app in the App Store by the end of next week. Should I use a different repository. I just need to know because down time is everything. Thanks and hope to hear back from you.

[2017-11-12 10:50] NikKovIos commented on #37
@jackpaster `pod 'LocationPickerViewController'`

[2017-11-20 19:52] Ahmedshubber opened #38 "Swift 4"
@almassapargali so are you going to update the project to swift 4. Can you let me know. You messaged us telling the community that you were working on it. Is this a broken framework.

[2017-12-29 03:15] hatimmakki opened #39 "restrict the search for only Schools"
Can I restrict the search for only Schools? I need to search for schools ONLY

I am using swift4 and the latest xCode

Thank you

[2018-01-04 16:15] lightsprint09 opened #40 "Rendering issue"
![simulator screen shot - iphone se - 2018-01-04 at 17 13 42](https://user-images.githubusercontent.com/3703083/34572861-c49b4d00-f172-11e7-8d02-06fb3b12c9f0.png)
![simulator screen shot - iphone se - 2018-01-04 at 17 13 50](https://user-images.githubusercontent.com/3703083/34572866-c87988e2-f172-11e7-9530-a39d3522fdd0.png)

I push the LocationPicker into a NavigationController

[2018-01-13 21:20] gkye commented on #40
If you're on iOS 11 this should fix it:
[code]

[2018-01-22 09:16] almassapargali commented on #38
Sorry for long delay, will release an update soon.

[2018-01-22 09:16] #38 closed, assigned to nobody

[2018-01-22 09:18] #35 closed, assigned to nobody

[2018-01-22 09:43] almassapargali commented on #36
Added `selectCurrentLocationInitially`, will release in `1.1.0` soon.

[2018-01-22 09:43] #36 closed, assigned to nobody

[2018-01-22 09:44] almassapargali commented on #37
Will publish `1.1.0` now. Sorry for delay.

[2018-01-22 09:44] #37 closed, assigned to nobody

[2018-01-22 09:47] almassapargali commented on #39
Sorry I couldn't find any appropriate api either in `MKLocalSearchRequest` nor in `MKMapItem` classes.

[2018-01-22 09:47] #39 closed, assigned to nobody

[2018-01-22 10:04] almassapargali commented on #40
Sorry, couldn't reproduce issue, could you please make a demo project.

[2018-01-29 15:28] alimirshad opened #42 "Current Location"
I want to add a button to get current location in completion handler. How it can be done.

[2018-01-30 05:11] almassapargali commented on #42
The goal of this lib is letting user to pick location, it may be current location, and may not be. As for getting current location, you can make use of CoreLocation directly.

[2018-01-30 05:11] #42 closed, assigned to nobody

[2018-02-12 13:19] alqa-dash opened #43 "Unable to type text in search bar"
Hello!

I just added LocationPickerViewController as navigationItem to my navigationController. Everything is fine except I'm unable to type text to search for location in searchBar. I can clean search field. I've checked both controllers' settings - they are equal. Could you tell me what's wrong?

Thanks!

[2018-02-13 07:16] alqa-dash commented on #43
I managed to get it working. But actually I don't really understand the reason.
I have UITableViewController where is setup UISearchBar with definesPresentationContext parameter set to true. Then I have one child UITableViewController with cell which calls LocationPickerViewController. So until definesPresentationContext set to true in parent tableviewcontroller, I'm unable to see search history a

[2018-02-13 18:13] #43 closed, assigned to nobody

[2018-04-16 13:16] tharak commented on #40
same problem here, just copied and pasted the sample from README.md inside the button event
my deployment target is 9.0

[2018-04-16 13:50] tharak opened #44 "Localizing searchBarPlaceholder"
changing searchBarPlaceholder is changing its value but not the searchbar placeholder value
i think this fix it

LocationPickerViewController
/// default: "Search or enter an address"
    public var searchBarPlaceholder : String = "Search or enter an address" {
        didSet{
            searchBar.placeholder = self.searchBarPlaceholder
        }
    }

[2018-06-25 12:57] hardikamal opened #45 "Google maps instead of apple maps"
Any way I can use this with google maps instead of apple maps?

[2018-06-26 04:00] almassapargali commented on #45
Yeah, but this lib highly tied with Apple Maps. You can send PR though.

On Mon, Jun 25, 2018 at 6:57 PM Hardik Amal <notifications@github.com>
wrote:

--
—
Thanks,
Almas Sapargali
http://almassapargali.com

[2018-06-29 12:40] weakfl commented on #40
If you really want to have the searchBar inside the navigationBar on iOS 11 you could fix the issue like this:
[code]

However, I'd suggest to do it iOS 11 style, so here's a PR fixing the issue: #46

[2018-07-02 11:03] #40 closed, assigned to nobody

[2018-08-16 12:43] #45 closed, assigned to nobody

[2018-10-04 07:48] weakfl opened #49 "Version 1.3.0 not available on cocoapods"
Version 1.3.0 does not propagate to cocoapods, see [last release](https://cocoapods.org/pods/LocationPicker).

Did you `pod lib lint` the latest version? Maybe it fails because the `.swift-version` still says `3.0`?
Whatever the reason is, the update is not available...

[2018-10-12 06:56] weakfl commented on #49
I've submitted a PR (#50).

[2018-10-13 07:56] weakfl commented on #49
Thanks for merging @almassapargali, but I think you still need to move the `1.3.0` tag to the latest commit and push the podspec.

[2018-12-19 12:13] weakfl commented on #49
@almassapargali bump

[2018-12-22 16:17] Marchuck opened #51 "location bounds"
Hello all!
Thanks for amazing LocationPicker, this library helped me a lot!
I am curious if there's possibility to set latitude / longitude bounds (like Android's `LatLngBounds`)
for ViewController (`northeast` and `southwest` coordinates I guess)

[2019-04-15 13:14] blinkuz commented on #49
The latest version is not yet available in cocoapods

[2019-04-23 13:24] oksana-practicallogix opened #52 "Add support for ObjectiveC"
Please add support for Objective-C projects too.

[2019-05-03 09:23] weakfl commented on #49
@almassapargali Could you please move the `1.3.0` tag to the latest commit and push the version to cocoapods?

I'd like to provide a PR for Swift 5, but I think it would make sense to release `v1.3.0` first...

[2019-06-19 02:49] fitsyu opened #53 "modally present this LocationPicker"
Thanks for a great and useful component.
In my case, I have to be able to show this component any where independent of any navigation sequence. So being able to show it modally is important. However this component seems to be designed to work with UINavigationController.

So here is how currently do it.

[code]

Hope this can be useful for others who got in situation like this.
Thanks!

[2019-08-13 15:06] #49 closed, assigned to nobody

[2019-09-08 20:22] agentelu opened #56 "Print Location (Latitute and longitude)"
Hi, how can a print de location (Latitude and longitude) when i pick a and select a new location ?

[2019-09-08 20:23] agentelu opened #57 "Change text language in map"
How can i change the text in the map envoirment, i want to put the text in portuguese or french.

Regards

[2019-09-12 14:14] naveedmcs opened #58 "how to get placeMark object ?"
I want to selected last selected location from map but I have only address string and coordinates for location constructor, placeMark paramter ? can you please remove it ? or fix to stop crashing

let initialLocation = Location(name: "My home", location: location, placeMark: CLPlaceMark )

[2019-09-12 14:15] naveedmcs commented on #56
locationPicker.completion = { location in
            self.lat = location?.coordinate.latitude ?? 0.0
            self.long = location?.coordinate.longitude ?? 0.0
            self.txtaddress.text = location?.address ?? "address not found"
        }

[2019-09-12 14:20] naveedmcs opened #59 "current location not working"
selectCurrentLocationInitially is set true but when i tapped on right bottom icon for current location , there is no marker and map is not updating for current location

here is my code
 let locationPicker = LocationPickerViewController()

        locationPicker.location = location
        locationPicker.searchBarStyle = .prominent
        locationPicker.mapType = .standard
        locationPicker.

[2019-09-13 05:58] weakfl commented on #44
@tharak Closing, as this issue is rather old.

The searchBar placeholder should be set before presenting the location picker. If  you really need to change the placeholder on the fly please reopen and explain your use case in detail.

[2019-09-13 05:58] #44 closed, assigned to nobody

[2019-09-13 06:04] weakfl commented on #52
@oksana-practicallogix There are no plans to add legacy support directly. You should be able to add obj-c support by writing a wrapper class for the component though.

[2019-09-13 06:04] #52 closed, assigned to nobody

[2019-09-13 06:08] #53 closed, assigned to nobody

[2019-09-13 06:15] weakfl commented on #57
Afaik it depends on the system locale and there is no way to change it.

[2019-09-13 06:15] #57 closed, assigned to nobody

[2019-09-13 06:17] #56 closed, assigned to nobody

[2019-09-13 07:18] weakfl commented on #58
@nvdmcs Just use an `MKPlacemark` instead:

[code]

[2019-09-13 07:18] #58 closed, assigned to nobody

[2019-09-13 07:49] weakfl commented on #59
If the `location` property is set, `selectCurrentLocationInitially` is ignored:

https://github.com/almassapargali/LocationPicker/blob/907f51465d7511b7c7661977d7e5bbd162c50f4f/LocationPicker/LocationPickerViewController.swift#L190-L207

[2019-09-13 07:52] weakfl commented on #51
You can set a preferred distance, if that's what you mean:

[code]

[2019-09-13 07:52] #51 closed, assigned to nobody

[2019-09-21 14:57] #59 closed, assigned to nobody

[2019-10-13 19:17] LoopingLouieX opened #60 "iOS 13 searchbar issue when present #2"
In the latest release there is still an issue with the searchbar.
Also reproducable in the demo.

<img width="416" alt="Screenshot 2019-10-12 at 10 56 15" src="https://user-images.githubusercontent.com/17936424/66720536-38af4f00-edfe-11e9-9974-d6a6bfc2a529.png">

[2019-10-15 11:33] #60 closed, assigned to nobody

[2019-11-03 10:13] merovic opened #61 "Cannot form weak reference to instance (0x7ff94e02a000) of class LocationPicker.LocationPickerViewController. It is possible that this object was over-released, or is in the process of deallocation"
Error Happen After Latest Xcode Update when initiating LocationPickerViewController

[2019-11-03 11:39] weakfl commented on #61
@merovic please provide details of your implementation and steps to reproduce this issue.

[2019-11-03 21:41] merovic commented on #61
I only starts to initialize LocationPickerViewController like ( let picker = LocationPickerViewController ) and then starts to follow the sample code like the readme file and everything was okay until recent update to Xcode and it is no longer working and this error emerges
<img width="571" alt="Screen Shot 2019-11-03 at 11 41 23 PM" src="https://user-images.githubusercontent.com/11374760/68092414

[2019-11-04 07:24] weakfl commented on #61
I can't reproduce this with the demo app using Xcode 11.2. Please provide more details of your usage.

[2019-11-04 08:03] merovic commented on #61
I used it before many times and everything works as expected until yesterday everything stopped working and that error emerges, I tried to use it manually instead of cocoa pods but the same error too, error emerges directly even if I just initialized the controller without any usage
<img width="759" alt="Screen Shot 2019-11-04 at 10 03 39 AM" src="https://user-images.githubusercontent.com/11374760

[2019-11-04 09:04] merovic commented on #61
try to use the library using cocapods in a new project in order to reproduce the error

[2019-11-04 09:26] weakfl commented on #61
@merovic Please provide a sample project, thanks.

[2019-11-04 12:44] merovic commented on #61
[TestLocationPicker.zip](https://github.com/almassapargali/LocationPicker/files/3804007/TestLocationPicker.zip)

[2019-11-04 15:37] #61 closed, assigned to weakfl

[2019-11-04 15:41] weakfl commented on #61
Thanks @merovic, fixed in [1.4.2](https://github.com/almassapargali/LocationPicker/tree/1.4.2).

[2019-11-25 15:13] fury21 commented on #53
Not work, try this code:

 @IBAction func btn(_ sender: Any) {
     // setup the location picker
        let locationPicker = LocationPickerViewController()

        // add cancel button to dismiss it
        locationPicker.navigationItem.leftBarButtonItem =
            UIBarButtonItem(title: "Cancel", style: .plain, target: self, action: #selector(closeLocationPicker))

        // set the wrapper

[2019-11-25 16:34] fury21 opened #62 "Forbid map rotation"
Hi!
Thank you for this beautiful framework
How can i forbid map rotation?

mapView.isRotateEnabled = false

[2019-11-25 16:48] fury21 opened #63 "Title disappears"
Hi! Why title disappears, immediately after the appears of?
Look my video

![BAADAgADIgUAAvYu4Ep30C4reCzrkhYE_1574700403 4](https://user-images.githubusercontent.com/30409500/69560242-818d2280-0fbc-11ea-8af4-f9499aa53899.gif)

[2019-11-25 17:01] fury21 opened #64 "The address does not fit completely"
Hi!
The address does not fit completely, look at screen.
![IMG_1263](https://user-images.githubusercontent.com/30409500/69561405-60c5cc80-0fbe-11ea-84d2-665ce4f7fd47.jpg)

[2019-11-28 11:08] weakfl commented on #62
This is currently not supported, the `mapView` property is not publicly accessible.

[2019-11-28 11:09] weakfl commented on #63
Please provide more details about your implementation. Ideally with steps to reproduce this issue.

[2019-11-28 11:22] weakfl commented on #64
Changing this would require a custom annotation. Feel free to submit a PR.

[2019-11-28 11:22] #64 closed, assigned to nobody

[2019-11-28 11:27] fury21 commented on #62
Can u do it? And other maps property's, like 3d view, zooming etc...
Thank u!

[2019-11-28 11:30] fury21 commented on #63
@objc private func touchToSelectAddressLabel() {
        hideKeyboardGesture()

      // setup the location picker

        locationPicker.mapType = .standard // default: .Hybrid
        locationPicker.searchBarPlaceholder = "Поиск по адресу" // default: "Search or enter an address"
        locationPicker.searchHistoryLabel = "История поиска" // default: "Search History"
        locationPicker.sel

[2019-12-10 08:42] naveedmcs opened #66 "Module compiling Error"
Module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1 compiler: /Users/apple/Library/Developer/Xcode/DerivedData/Build/Products/Debug-iphonesimulator/LocationPicker.framework/Modules/LocationPicker.swiftmodule/x86_64.swiftmodule

[2019-12-10 11:23] naveedmcs commented on #66
fixed after clean build more than once :p

[2019-12-10 11:23] #66 closed, assigned to nobody

[2019-12-10 11:58] naveedmcs commented on #63
yes, title disappear first time when we change pin location on map using hold tapped. and also when scroll map.

[2019-12-18 09:13] merovic opened #67 "Cant add Custom Search Bar"
I tried to add a custom search bar but it doesn't do anything when I start searching despite I added it to the the location picker
![Simulator Screen Shot - iPhone 11 Pro Max - 2019-12-18 at 11 13 09](https://user-images.githubusercontent.com/11374760/71072528-665e9e80-2187-11ea-84c1-194585b6e335.png)

[2019-12-18 09:44] merovic commented on #67
I also tried to add a custom search bar but it doesn't do anything when I start searching despite I added it the the location picker

[2020-01-01 15:09] #67 closed, assigned to nobody

[2020-01-21 13:10] JoniVR commented on #63
Happens on the demo app too.
(iOS 13.3)

[2020-02-05 19:03] MoSchaub opened #68 "Not showing on simulator when changing the development region"
I wanted to get German names for the Locations so I changed the development region to Germany and then I get the following error:
MobileGestalt.c:1647: Could not retrieve region info
and the Picker is not showing up.
Is there any Other Way to get German names for the locations?

[2020-02-06 09:08] weakfl commented on #68
See https://stackoverflow.com/a/14080924

[2020-02-06 09:08] #68 closed, assigned to nobody

[2020-03-15 11:00] kalmicka opened #69 "SPM Support"
Hey there,

great work on the LocationPicker! Any chance you guys could support Swift Package Manager? Would be really nice to integrate it this way.

Thanks in advance

[2020-03-21 19:13] LoopingLouieX commented on #63
Did anyone solved this already ?

[2020-06-04 04:26] yodagamaheshan opened #70 "Annotation Color"
It would be better to have a public variable to set pin color of annotation.

[2020-10-21 09:52] stephanboner commented on #63
No news here? I guess it only happens if you don't press "long enough". If you keep pressing after the pin is added and release after the animation, most of the time the title stays

[2020-11-08 10:53] stephanboner commented on #69
Anything going on here?

[2020-11-30 07:33] #69 closed, assigned to nobody

[2021-04-26 13:41] aliaziada opened #73 "Swift UI support"
Is there any plan to support swift ui i used UIViewControllerRepresentable to integrate picker but search bar won't show
[code]

[2022-04-17 14:21] higalex commented on #63
I created a PR to fix this issue: https://github.com/almassapargali/LocationPicker/pull/76

[2022-04-18 07:30] #63 closed, assigned to nobody

[2022-04-20 12:41] higalex opened #77 "Search bar disappears after view is dismissed while the bar is focused"
Please see the video below.
https://drive.google.com/file/d/1BAF3CTmd0168SMnhPxF3MQkAJT9zSt0P/view?usp=sharing

[2022-04-20 13:51] #77 closed, assigned to nobody

[2022-05-03 14:55] mouness2020 commented on #73
any fix? please help

[2022-05-04 10:00] mouness2020 commented on #73
works fine

`struct LocationPicker: UIViewControllerRepresentable {

    func updateUIViewController(_ uiViewController: UINavigationController, context: Context) {

    }

    func makeUIViewController(context: Context) -> UINavigationController {
        let locationPicker = LocationPickerViewController()
        //let placemark = MKPlacemark(coordinate: CLLocationCoordinate2D(latitude: initalLa

[2022-07-05 13:38] Oggerschummer opened #79 "@available no longer allowed in LocationPickerViewController"
With the latest xCode / iOS beta this

[code]

causes a compile error:  _Stored properties cannot be marked potentially unavailable with '@available'_
in LocationPickerViewController.

[2022-09-13 13:55] Oggerschummer commented on #79
With latest Xcode and iOS 16 this no longer compiles. Could we please remove it ?

[2022-09-14 11:00] Oggerschummer commented on #79
Solved by latest pull request merge

[2022-09-14 11:00] #79 closed, assigned to nobody

[2022-09-19 19:54] kalmicka commented on #79
Did you guys bum up the SPM version to something higher than 1.4.3? When I pull the SPM package I still see the error even having reset package cache. Any idea on what to do?

[2022-09-19 20:24] weakfl commented on #79
Switch to master branch. Unfortunately I don't have time to publish new releases tbh.
SPM wouldn't be a problem, but I don't use cocoapods anymore and a proper release would require updates to both.

[2022-09-20 08:59] AmriZakariya opened #82 "Stored properties cannot be marked potentially unavailable with '@available'"
<img width="943" alt="Screen Shot 2022-09-20 at 09 59 35" src="https://user-images.githubusercontent.com/49977073/191215425-8ee5bedf-f754-4dd6-8bce-9057bcb906d0.png">

[2022-09-20 10:34] weakfl commented on #82
see #79

[2022-09-20 10:34] #82 closed, assigned to nobody